{
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always"],
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "no-restricted-imports": ["error",
      "assert","buffer","child_process","cluster","crypto","dgram","dns","domain","events","freelist","fs","http","https","module","net","os","path","punycode","querystring","readline","repl","smalloc","stream","string_decoder","sys","timers","tls","tracing","tty","url","util","vm","zlib"
    ]
  },
  "settings": {
    "import/extensions": [
      ".js"
    ]
  }
}